.board-spacing {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.board-spacing img {
  pointer-events: none;
  user-select: none;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#left-button {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

#left-button > button:hover {
  border: 5px solid var(--blue-color);
  background-color: var(--blue-color);
  color: var(--background-color);
  cursor: pointer;
}

#right-button {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

#right-button > button:hover {
  border: 5px solid var(--red-color);
  background-color: var(--red-color);
  color: var(--background-color);
  cursor: pointer;
}

#left-button button,
#right-button button {
  margin-top: 40vh;
  padding: 2vh;
  border-radius: 10px;
  border: 5px solid var(--text-color);
  color: var(--text-color);
  background-color: transparent;
  font-size: 4vh;
}

.board-container {
  position: relative;
}

.display-win {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
  border-radius: 20px;
  border: 5px solid var(--text-color);
  width: 20%;
  height: 25%;
  background-color: var(--background-color);
  font-size: 30px;
}


